$font-1: 'Source Sans Pro',
sans-serif;

$prime: #f54545;
// $prime: #a70d48;
$second: #ffffff;
$dark: #2c3350;
$grey: #999aa3;
$break-med: 768px;
$break-small: 400px;
$shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: $font-1;
  color: $dark;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 180px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: 100%;
  @media only screen and (max-width: $break-small) {
    width: 100%;
    padding: 0 20px;
  }
}