.services-item-1 {
  background: url(../img/van-interior.jpg);
}
.services-item-2 {
  background: url(../img/van-men.jpg);
}
.services-item-3 {
  background: url(../img/driving.jpg);
}
.services-item-4 {
  background: url(../img/van-junk-r.jpg);
}
.services-item-5 {
  background: url(../img/van-out-window-r.jpg);
}
.services-item-6 {
  background: url(../img/van-junk.jpg);
}

.van-1 {
  background-image: url(../img/van-side-open.jpg);
}

.van-2 {
  background-image: url(../img/van-interior.jpg);
}

.van-3 {
  background-image: url(../img/van-back.jpg);
}

.services-banner-img {
  background-image: url(../img/driving.jpg);
}

.home-banner-img {
  background-image: url(../img/driving-2.jpg);
}

.banner-img {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  background-position: center center;
  background-size: cover;
}