.services-item-1 {
  background: url(../img/van-interior.jpg);
}
.services-item-2 {
  background: url(../img/van-men.jpg);
}
.services-item-3 {
  background: url(../img/driving.jpg);
}
.services-item-4 {
  background: url(../img/van-junk.jpg);
}
.services-item-5 {
  background: url(../img/van-out-window.jpg);
}
.services-item-6 {
  background: url(../img/van-junk.jpg);
}