.services-section {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  @media only screen and (max-width: $break-med){
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.services-left {
  grid-column: 1/2;
  margin-right: 50px;
}

.services-right {
  grid-column: 2/3;
  display: flex;
  max-height: 800px;
  flex-direction: column;
  box-shadow: $shadow;
  border-radius: 13px;
  padding-left: 40px;
  padding-right: 40px;
  @media only screen and (max-width: $break-med){
    grid-column: 1/2;
    min-height: 300px;
  }
  .perk-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ce3636;
    flex: 1;
    text-align: left;
    @media only screen and (max-width: $break-med){
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
    .perk-text {
      margin-left: 20px;
    }
    i {
      color: $prime;
    }    
  }
}

.perk-container:nth-child(-n+1) {
  border-top: none;
}

.services-intro {
  margin-bottom: 25px;
  font-weight: 600;
}

.service-details {
  & ul {
    columns: 2;
    margin-bottom: 20px;
    list-style: none;
    line-height: 1.5em;
    & li {
      margin-left: 20px;
      font-weight: 600;
      .fal {
        color: #ffc001;
      }
    }
  }
}

.service-heading {
  margin-bottom: 15px;
  color: $prime;
  font-size: 2em;
  & span {
    color: $dark;
  };
}

.service-p {
  margin-bottom: 25px;
}