.vehicle-container {
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: $shadow;
}

.vehicle-heading {
  font-size: 3em;
  margin-bottom: 20px;
  padding: 20px;
}

.vehicle-img-container {
  display: flex;
  height: 200px;
  
  @media only screen and (max-width: $break-med){
    height: 150px;
  }
  @media only screen and (max-width: $break-small){
    height: 100px;
  }
}

.vehicle-img {
  flex: 1 1 30%;
  background-size: cover;
  background-position: center;  
}

.vehicle-content {
  font-size: 1.5em;
}

.details {
  list-style: none;
  columns: 2;
  padding: 20px;
  @media only screen and (max-width: $break-med){
    columns: 1;
  }
}

.details-item {
  display: flex;
  align-items: center;
  line-height: 1.5em;
  @media only screen and (max-width: $break-med){
    font-size: .8em;
  }
  & svg {
    width: 28px;
    height: 28px;
    color: $prime;
    padding: 0 10px;
    font-size: 2em;
  }
}


