@import "_base.scss";
@import "_images.scss";
@import "_booking.scss";
@import "_services.scss";
@import "_intro.scss";



a {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media only screen and (max-width: $break-small) {
    justify-content: flex-end;

  }
}

.nav-left {
  font-weight: 600;
  font-size: 2.5em;

  @media only screen and (max-width: $break-small) {
    display: none;
  }
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-link {
  margin-left: 10px;

  &:hover {
    color: $prime;
  }

  @media only screen and (max-width: $break-med) {
    margin-left: 5px;
    font-size: .8em;
  }
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-droplink {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  left: -15px;
  top: 1.2em;
  width: 175px;
  line-height: 1.4em;
  background: white;
  padding: 10px 15px;
  ;
  border-radius: 2px;
  box-shadow: $shadow;

  ul {
    list-style: none;
  }

  a {
    font-weight: 600;
  }
}

.bold-link {
  font-weight: 800;
  color: $prime;
}

.nav-booking-btn {
  background: $prime;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid $prime;

  &:hover {
    background: $second;

  }

  @media only screen and (max-width: $break-med) {
    padding: 5px 10px;
  }
  @media only screen and (max-width: $break-small) {
    padding: 2px 5px;
  }
}

.header-container {
  width: 70%;
  height: 30vh;
  min-height: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image heading"
    "image sub";
  align-items: center;
  margin-bottom: 60px;

  @media only screen and (max-width: $break-med) {
    margin-bottom: 30px;
    width: 80%;
  }

  @media only screen and (max-width: $break-small) {
    width: 100%;
    margin-bottom: 20px;
    grid-template-areas:
      "image heading"
      "sub sub"
  }
}

.header-left {
  width: 100%;
  max-width: 800px;
  justify-self: right;
  grid-area: image;

  @media only screen and (max-width: $break-small) {
    align-self: end;
  }

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.header-right {
  padding-left: 20px;
  width: 100%;
  color: $second;
}

.header-heading {
  grid-area: heading;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
  font-size: 4em;

  @media only screen and (max-width: $break-med) {
    font-size: 3em;
  }

  @media only screen and (max-width: 580px) {
    font-size: 1.75em;
  }
}

.header-p {
  align-self: start;
  font-size: 2em;
  grid-area: sub;

  @media only screen and (max-width: $break-med) {
    align-self: flex-start;
  }

  @media only screen and (max-width: $break-small) {
    justify-self: center;
    font-size: 1.5em;
  }
}

.top-bar {
  background: $prime;
  p {
    text-align: center;
    color: white;
  }
}

// .relative {
//   position: relative;
//   height: 30px;
// }

// .price-beat {
//   position: absolute;
//   z-index: 10;
//   box-shadow: $shadow;
//   text-align: center;
//   background: white;
//   padding: 5px;
//   width: 240px;
//   margin-left: -120px;
//   left: 50%;
//   top: -20px;
//   border: 5px dashed $prime;
//   transform: rotate(-5deg);
//   border-radius: 10px;
//   h3 {
//     color: $prime;
//   }
// }

.options-container {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media only screen and (max-width: $break-med) {
    width: 95%;

  }

  @media only screen and (max-width: $break-small) {
    margin-bottom: 30px;
    & .fal {
      font-size: 1.5em;
      
    }
  }

  .option {
    text-align: center;
    width: 250px;
    padding: 0 20px;


    .option-img {
      margin-bottom: 10px;
      color: $prime;
    }

    .option-heading {
      margin-bottom: 20px;
      color: $prime;
      font-weight: 400;

      @media only screen and (max-width: $break-med) {
        margin-bottom: 10px;
      }
    }

    .option-p {
      color: $grey;
      margin-bottom: 20px;
      font-size: .9em;
    }
  }
}

.banner {
  height: 200px;
  background: $prime;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  @media only screen and (max-width: $break-small){
    display: none;
  }
}

.section-heading {
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 80px;
  font-style: italic;
  text-align: center;
  @media only screen and (max-width: $break-med) {
    margin-bottom: 50px;
  }
}

.overlay-p {
  display: none;
  padding: 20px;
  font-size: 1em;
}

.booking-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.booking-btn {
  margin-bottom: 25px;
  background: $prime;
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid $prime;

  &:hover {
    background: $second;
    color: $prime;
  }
}

//map section
.map-section {
  background: rgba(128, 128, 128, 0.158);
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  // box-shadow: $shadow;
  @media only screen and (max-width: $break-small) {
    padding: 0;
  }
}

.map-heading {
  color: $dark;
  font-size: 2em;
  margin-bottom: 20px;
}

.map-address {
  margin-bottom: 20px;
  span {
    font-style: italic;
    font-weight: 600;
  }
}

//google maps
.mapouter {
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

#gmap_canvas {
  width: 100%;
  height: 300px;
}

.footer-bar {
  background: $prime;
  height: 40px;

  .footer-bar-text {
    color: white;
  }


  & .footer-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-content {
  background: rgb(247, 243, 243);
  // background: #2e2929;
  color: grey;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex: 1;
}

.footer-link {
  color: rgb(32, 83, 250);
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 10px;

  @media only screen and (max-width: $break-small) {
    font-size: .8em;
  }
}

.footer-heading {
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
}