$font-1: 'Source Sans Pro',
sans-serif;
$prime: #003f92;
$dark: #2c3350;
$grey: #999aa3;
$break-med: 768px;
$break-small: 400px;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: $font-1;
  color: $dark;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 180px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: 100%;

  @media only screen and (max-width: $break-small) {
    width: 95%;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.nav-link {
  margin-left: 10px;
}

.nav-btn {
  background: $prime;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
}

.header-container {
  width: 70%;
  height: 30vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image heading"
    "image sub";
  align-items: center;
  margin-bottom: 100px;

  @media only screen and (max-width: $break-small) {
    width: 100%;
    grid-template-areas:
      "image heading"
      "sub sub"
  }
}

.header-left {
  width: 100%;
  max-width: 800px;
  justify-self: right;
  grid-area: image;

  @media only screen and (max-width: $break-small) {
    align-self: end;
  }

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.header-right {
  padding-left: 20px;
  width: 100%;
}

.header-heading {
  grid-area: heading;
  align-self: end;
  font-size: 4em;

  @media only screen and (max-width: $break-med) {
    font-size: 3em;
  }

  @media only screen and (max-width: 580px) {
    font-size: 2em;
  }
}

.header-p {
  align-self: start;
  font-size: 2em;
  grid-area: sub;

  @media only screen and (max-width: $break-med) {
    align-self: flex-start;
  }

  @media only screen and (max-width: $break-small) {
    justify-self: center;
  }
}

.options-container {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;

  @media only screen and (max-width: $break-med) {
    grid-template-columns: 1fr;
  }

  .option {
    text-align: center;

    .option-img {
      margin-bottom: 10px;
      color: $prime;
    }

    .option-heading {
      margin-bottom: 20px;
      color: $prime;
      font-weight: 400;
    }

    .option-p {
      color: $grey;
      margin-bottom: 20px;
    }
  }
}

.content-h1 {
  margin-bottom: 50px;
}

.article-grid {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 1fr 200px;
  margin-bottom: 1em;

  @media only screen and (max-width: $break-med) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1em;
  }
}

.article-img {
  grid-column: 2/3;
  width: 100%;
  height: 200px;
  background: $prime;

  @media only screen and (max-width: $break-med) {
    grid-column: 1/2;
  }
}

.img-van {
  background-image: url(../img/van.jpg);
}

.img-truck {
  background-image: url(../img/)
}


.footer-bar {
  background: $prime;

  & .footer-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-content {
  background: rgb(247, 243, 243);
  color: grey;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  margin-bottom: 20px;
}