@import "_base.scss";
@import "_vehicles.scss";
@import "_images.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: 100%;

  @media only screen and (max-width: $break-small) {
    width: 95%;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  @media only screen and (max-width: $break-small) {
    justify-content: flex-end;
  }
}

.nav-left {
  @media only screen and (max-width: $break-small){
    display: none;
  }
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-link {
  margin-left: 10px;
  &:hover {
    color: $prime;
  }
  @media only screen and (max-width: $break-med){
    margin-left: 5px;
    font-size: .8em;
  }
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-droplink {
  position: relative;
}

.dropdown {
 display: none;
 position: absolute;
 left: -15px;
 top: 1.2em;
 width: 175px;
 line-height: 1.4em;
 background: white;
 padding: 10px 15px;;
 border-radius: 2px;
 box-shadow: $shadow;
 ul {
   list-style: none;
 }
 a {
  font-weight: 600;
 }
}

.bold-link {
  font-weight: 800;
  color: $prime;
}

.nav-btn {
  background: $prime;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid $prime;
  &:hover {
    background: white;
    
  }
  @media only screen and (max-width: $break-med){
    padding: 5px 10px;
  }
}

.header-container {
  width: 70%;
  height: 30vh;
  min-height: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image heading"
    "image sub";
  align-items: center;
  margin-bottom: 60px;
  @media only screen and (max-width: $break-med){
    margin-bottom: 30px;
  }

  @media only screen and (max-width: $break-small) {
    width: 100%;
    margin-bottom: 20px;
    grid-template-areas:
      "image heading"
      "sub sub"
  }
}

.header-left {
  width: 100%;
  max-width: 800px;
  justify-self: right;
  grid-area: "image";

  @media only screen and (max-width: $break-small) {
    align-self: end;
  }

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.header-right {
  padding-left: 20px;
  width: 100%;
}

.header-heading {
  grid-area: "heading";
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
  font-size: 4em;

  @media only screen and (max-width: $break-med) {
    font-size: 3em;
  }

  @media only screen and (max-width: 580px) {
    font-size: 2em;
  }
}

.header-p {
  align-self: start;
  font-size: 2em;
  grid-area: "sub";

  @media only screen and (max-width: $break-med) {
    align-self: flex-start;
  }

  @media only screen and (max-width: $break-small) {
    justify-self: center;
  }
}

.main {
  display: grid;
  grid-template-areas:
  "content sidegrid";
  grid-template-columns: 3fr 2fr;
  grid-gap: 2em;
  margin-bottom: 1em;
  @media only screen and (max-width: $break-med){
    grid-template-areas:
    "content"
    "sidegrid";
    grid-template-columns: 1fr;
  }
}

.content-article {
  grid-area: "content";
  width: 100%;
}

.options-container {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media only screen and (max-width: $break-med) {
    width: 95%;

  }
  @media only screen and (max-width: $break-small) {

  }

  .option {
    text-align: center;
    width: 250px;


    .option-img {
      margin-bottom: 10px;
      color: $prime;
    }

    .option-heading {
      margin-bottom: 20px;
      color: $prime;
      font-weight: 400;
      @media only screen and (max-width: $break-med) {
        margin-bottom: 10px;
      }
    }

    .option-p {
      color: $grey;
      margin-bottom: 20px;
      font-size: .9em;
    }
  }
}

.banner {
  height: 200px;
  background: $prime;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}

.banner-img {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/driving-2.jpg);
}

.content-h1 {
  margin-bottom: 100px;
}

.article-grid {
  display: grid;
  width: 100%;
  grid-gap: 1em;
  grid-template-columns: 1fr 200px;
  margin-bottom: 1em;

  @media only screen and (max-width: $break-med) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1em;
  }
}

.article-img {
  grid-column: 2/3;
  width: 100%;
  height: 200px;
  background: $prime;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
  
  @media only screen and (max-width: $break-med) {
    grid-column: 1/2;
    max-width: 300px;
    justify-self: center;
  }
}

.img-banner {
  font-family: impact;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 1.5em;
  background: $prime;
  position: absolute;
  bottom: 11%;
  right: -30%;
  color: white;
  font-size: 3em;
  transform: rotate(-30deg);
  box-shadow: 0px 0px 0px 5px white;
  @media only screen and (max-width: $break-med){
    transform: rotate(-37deg);
    right: -50%;
    font-size: 3.5em
  }
}

.banner-text {
  span {
    font-size: .5em;
  }
}

.img-van {
  background-image: url(../img/van-side.jpg);

}

.img-truck {
  background-image: url(../img/truck-3q.jpg);
}

.img-van-open {
  background-image: url(../img/van-side-open.jpg)
}

.service-flex {
  width: 100%;
  grid-area: sidegrid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.service-img {
  flex: 1;
  height: 100px;
  border-top: 2px solid $prime;
  background-size: cover;
  background-position: center;
  // margin-bottom: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.096);
  
  // border-radius: 5px;
}

.service-img-overlay {
    color: white;
    overflow: hidden;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  transition: background 500ms ease;
}

.overlay-heading { 
  margin-bottom: 10px;
  color: white;
  padding: 7px;
  font-family: arial;
  font-weight: 800;
  background: $prime;
  
}

.overlay-p {
  display: none;
  padding: 20px;
  font-size: 1em;
}

.booking-btn {
  background: $prime;
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid $prime;
  &:hover {
    background: white;
    color: $prime;
  }
  @media only screen and (max-width: $break-med){
    padding: 5px 10px;
  }
}

//map section
.map-section {
  background: #3333;
  display: flex;
  padding: 20px;
  @media only screen and (max-width: $break-small){
    padding: 0;
  }
}

.map-heading {
  color: $dark;
  font-size: 2em;
  margin-bottom: 20px;
}

.map-address {
  margin-bottom: 20px;
}

//google maps
.mapouter {
  text-align:right;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
}
#gmap_canvas {
  width: 100%;
  height: 300px;
}

.footer-bar {
  background: $prime;
  height: 40px;
  

  & .footer-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-content {
  background: rgb(247, 243, 243);
  color: grey;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-link {
  color: rgb(32, 83, 250);
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  @media only screen and (max-width: $break-small){
    font-size: .8em;
  }
}

.footer-heading {
  margin-bottom: 20px;
}