<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>GTFO van and truck rentals - services</title>
</head>

<body>
  <div class="page-container">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <a href="../index.html" class="nav-logo">GTFO</a>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">About Us</a>
          <div class="nav-droplink" style="position: relative">
            <a href="#" class="nav-link">Services</a>
            <div class="dropdown">
              <ul>
                <li><a class="nav-link" href="#services">Van Rentals</a></li>
                <li><a class="nav-link" href="#services">Truck Rentals</a></li>
                <li><a class="nav-link" href="#services">Dropoff/Pickup</a></li>
                <li><a class="nav-link" href="#services">One Way Hires</a></li>
              </ul>
            </div>
          </div>
          <a href="#" class="nav-link bold-link">Call: 1800-123-123</a>
          <a href="#" class="nav-booking-btn nav-link">Book Now</a>
        </div>
      </div>
    </nav>
    <div class="content-wrap">
      <main>
        <div class="header-container">
          <div class="header-left"><img src="../img/van.jpg" alt=""></div>
          <h1 class="header-heading">Get That Furniture Out</h1>
          <p class="header-p">Moving made easy</p>
        </div>

        <div class="banner">
          <div class="banner-img services-banner-img"></div>
        </div>

        <div class="container">
          <section class="services-section">
            <h1 class="section-heading">Our Services</h1>

            <div class="services-left">
              <p class="services-intro">Looking for Brisbane's easiest moving solutions? GTFO provides services to make moving house or transporting your belongings as cheap and hassle free as possible. </p>
              <div class="service-details">
                <h2 class="service-heading">Vans</h2>
                <p class="service-p">GTFO vans offer an easy solution for transporting those items you can't fit in your car and are even modified with extra headroom to fit tall items. Short term hires from $30 per hour* make picking up that bargain furniture you found on gumtree easier than ever.</p>
                <ul>
                  <li><i class="fas fa-check"></i> Drivers 21+</li>
                  <li><i class="fas fa-check"></i> Car licence OK</li>
                  <li><i class="fas fa-check"></i> Seats 2</li>
                  <li><i class="fas fa-check"></i> ***(storage/weight capacity?)</li>
                  <li><i class="fas fa-check"></i> Short term hires</li>
                </ul>
              </div>
              <div class="service-details">
                <h2 class="service-heading">Trucks</h2>
                <p class="service-p">If you have a larger move in mind, trucks are also available - fully enclosed, and able to be driven on a regular licence, they make getting your belongings to their destination easy and safe. With short- or long-term hires, GTFO has you covered.</p>
                <ul>
                    <li><i class="fas fa-check"></i> Drivers 25+</li>
                    <li><i class="fas fa-check"></i> Car licence OK</li>
                    <li><i class="fas fa-check"></i> Seats 3</li>
                    <li><i class="fas fa-check"></i> ***(storage capacity?)</li>
                    <li><i class="fas fa-check"></i> Short and long term hires</li>
                    <li><i class="fas fa-check"></i> One way hires</li>
                  </ul>
              </div>
              <div class="service-details">
                <h2 class="service-heading">Vehicle Dropoff<span> / </span>Pickup</h2>
                <p class="service-p">We know your time is valuable, so have us deliver a vehicle anywhere in the Brisbane area and we'll pick it up when you're done. Just another convenience to make your rental as easy as possible.</p>
              </div>
              <div class="service-details">
                <h2 class="service-heading">Packing<span> / </span>Unpacking</h2>
                <p class="service-p">Can't find the time or energy to move things yourself? Leave it to us! We can provide labour to help with loading and unloading. We'll get your items from point A to point B, whether it's your precious belongings or you're just getting rid of some old furniture. </p>
              </div>
              <div class="service-details">
                <h2 class="service-heading">One Way Hires</h2>
                <p class="service-p">Save yourself the trip back. For a fee, we can get the vehicle from your destination back to our depot, so you don't have to. GTFO offer short-term, long-term and interstate hires.</p>
              </div>
            </div>
            <div class="services-right">
              <div class="perk-container"><i class="fas fa-globe-asia fa-3x"></i><p class="perk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, itaque!</p></div>
              <div class="perk-container"><i class="fas fa-piggy-bank fa-3x"></i></i></i><p class="perk-text">Lorem ipsum dolor sit amet consectetur.</p></div>
              <div class="perk-container"><i class="fas fa-road fa-3x"></i></i><p class="perk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sint adipisci.</p></div>
              <div class="perk-container"><i class="far fa-thumbs-up fa-3x"></i></i><p class="perk-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur!</p></div>
            </div>


          </section>
          <div class="container ">
            <div class="booking-btn-container">
              <button class="booking-btn show-booking" id="booking-section">Get a Quote</but>
            </div>
          <section class="booking-container">
            <div id="booking" class="section">
              <div class="section-center">
                <div class="booking-form">
                  <form>
                    <div class="form-group">
                      <span class="form-label">Name</span>
                      <input class="form-control" type="text" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                      <span class="form-label">Phone</span>
                      <input class="form-control" type="tel" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group dbl-col">
                      <span class="form-label">Email</span>
                      <input class="form-control" type="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                      <span class="form-label">Pickup Location</span>
                      <input class="form-control" type="text" placeholder="Enter Pickup Postcode">
                    </div>
                    <div class="form-group">
                      <span class="form-label">Destination</span>
                      <input class="form-control" type="text" placeholder="Enter Destination postcode">
                    </div>
                    <div class="form-group">
                      <span class="form-label">Pickup</span>
                      <input class="form-control" type="date" required>
                    </div>
                    <div class="time-grid">
                      <div class="form-group form-time">
                        <span class="form-label">Hour</span>
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                      <div class="form-group form-time">
                        <span class="form-label">Min</span>
                        <select class="form-control">
                          <option>05</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>30</option>
                          <option>35</option>
                          <option>40</option>
                          <option>45</option>
                          <option>50</option>
                          <option>55</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                      <div class="form-group form-time">
                        <span class="form-label">AM/PM</span>
                        <select class="form-control">
                          <option>AM</option>
                          <option>PM</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                      
                    </div>
                    <div class="form-group">
                      <span class="form-label">Dropoff</span>
                      <input class="form-control" type="date" required>
                    </div>
                    <div class="time-grid">
                      <div class="form-group form-time">
                        <span class="form-label">Hour</span>
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                      <div class="form-group form-time">
                        <span class="form-label">Min</span>
                        <select class="form-control">
                          <option>05</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>30</option>
                          <option>35</option>
                          <option>40</option>
                          <option>45</option>
                          <option>50</option>
                          <option>55</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                      <div class="form-group form-time">
                        <span class="form-label">AM/PM</span>
                        <select class="form-control">
                          <option>AM</option>
                          <option>PM</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="form-group">
                        <span class="form-label">Vehicle Type</span>
                        <select class="form-control">
                          <option>Van</option>
                          <option>Truck</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    <div class="booking-btn-container dbl-col">
                      <button class="booking-btn submit-btn">Submit</button>
                    </div>
                  </form>
                </div>
          </section>
        </div>
        
      </div>
      <section class="map-section">
          <div class="container">
            <h1 class="map-heading">Our Location</h1>
            <p class="map-address">100 Longlands St, Woolloongabba QLD 4102</p>
            <div class="mapouter">
              <div class="address-container"></div>
              <div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=100%20Longlands%20St&t=&z=12&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>
    <footer class="footer">
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Information</h3>
            <a href="" class="footer-link">FAQs</a>
            <a href="" class="footer-link">Terms & Conditions</a>
            <a href="" class="footer-link">Rental Agreement</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Locations</h3>
            <a href="" class="footer-link">Brisbane</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">1800-something-or-other</p>
            <p class="footer-p">info@somewhere.com</p>
            <p class="footer-p">100 Longlands St</p>
            <p class="footer-p">Woolloongabba, 4102</p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy copyright 2019</p>
        </div>
      </div>
    </footer>
  </div>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/scripts.js"></script>
</body>

</html>