<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>GTFO</title>
</head>

<body>
  <div class="page-container">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <h1 class="nav-logo">GTFO</h1>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">About Us</a>
          <a href="#" class="nav-link nav-droplink">Services
            <div class="dropdown">
              <ul>
                <li>Van Rental</li>
                <li>Truck Rental</li>
                <li>Removals</li>
                <li>Vehicle Dropoff</li>
              </ul>
            </div>
          </a>
          <a href="#" class="nav-link bold-link">Call: 1800-123-123</a>
          <a href="#" class="nav-btn nav-link">Book Now</a>
        </div>
      </div>
    </nav>
    <div class="content-wrap">
      <main>

        <div class="container">

        </div>

        <div class="banner">
          <div class="banner-img"></div>
        </div>

        <div class="container">

        </div>
      </main>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Information</h3>
            <a href="" class="footer-link">FAQs</a>
            <a href="" class="footer-link">Rental Terms & Conditions</a>
            <a href="" class="footer-link">Rental Agreement</a>
            <a href="" class="footer-link">Something Else</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Locations</h3>
            <a href="" class="footer-link">Brisbane</a>
            <a href="" class="footer-link">Gold Coast</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">ph: 123 123 123</p>
            <p class="footer-p">15 Street Rd</p>
            <p class="footer-p">Suburbville, 4102</p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy copyright 2019</p>
        </div>
      </div>
    </footer>
  </div>

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/scripts.js"></script>
</body>

</html>